/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
}

.container{
    width: 1000px;
    margin: 0 auto;
}

/* Style per l'header e contenuto */
header{
    padding: 10px;
    background-color: #ADD8E6;
}

.head-content{
    display: flex;
    justify-content: space-between;
    background-color: #DAA520;
}

.menu{
    display: inline-block;
    border: 2px dotted black;
    flex-grow: 3;
    padding: 10px;
    text-align: center;
}

.menu a{
    text-decoration: none;
    color: black;
}

.logo{
    flex-grow: 1;
    padding: 10px;
    border: 2px dotted black;
}

.login{
    flex-grow: 1;
    padding: 10px;
    text-align: right;
    border: 2px dotted black;
}
/* Fine dell'header */

/* Style della prima sezione */
.section-1{
    background-color: #00008B;
    height: 400px;
    margin: 0 auto;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.middle-element{
    background-color: #EE82EE;
    height: 300px;
    width: 800px;
    border: 3px dotted black;
}
/* Fine della prima sezione */

/* Style della seconda sezione */
.section-2{
    background-color: #FFFFFF;
    height: 480px;
    margin: 0 auto;
}

.section-2 .container{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: inherit;
}

.section-2 .container .col-sx{
    background-color: #1E90FF;
    height: 380px;
    width: 60%;
    border: 3px dotted black;
}

.section-2 .container .col-dx{
    background-color: #FFC0CB;
    height: 380px;
    width: 40%;
    border: 3px dotted black;
}
/* Fine della seconda sezione */